p {
  margin: 0;
}

input{
  background-color: transparent;
}
#formpage {
  height: 90vh;
  width: 100%;
  margin-top: -8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tablepage {
  height: 90vh;
  width: auto;
  margin-top: 1vmin;
  padding: 2vmin;
}

#headline {
  font-size: 10vmin;
  margin: 0;
  margin-bottom: -9vmin;
}

#form {
  background: linear-gradient(135deg, #fe7468, #f88849);
  color: white;
  border-radius: 10px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.114);
  width: 80vmin;
  height: auto;
  padding: 5vmin;
  padding-bottom: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vmin;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vmin;
  flex-wrap: wrap;
}

.data-table {
  width: 100%;
  border: 1px solid #fe7468;
}

.data-table th,
.data-table td {
  padding: 8px;
  text-align: center;
}

.data-table thead tr {
  background: linear-gradient(135deg, #fe7468, #f88849);
  color: white;
}

.data-table tr:nth-child(even) {
  background: linear-gradient(135deg, #fe7468, #f88849);
  color: white;
}

.address-cell {
  max-width: 150px;
  max-height: 50px;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.navbar-toggler-icon{
  color: white;
}